# MASTER Checkpoint Configuration Template
# Customize and save as .session_recovery in your work directory

recovery_settings:
  active: true
  
  persistence:
    snapshot_every_seconds: 300
    snapshot_after_units: 50
    storage_path: ".master_checkpoints"
    
  history:
    max_snapshots_retained: 10
    preserve_errors: true
    cleanup_after_days: 7
    
  resumption:
    ask_before_continuing: false
    silent_restore: true
    
  cost_monitoring:
    track_spend: true
    alert_at_percent: 80
    
  visibility:
    quiet_snapshots: false
    announce_restore: true
    announce_finish: true

operation_profiles:
  heavy_refactor:
    snapshot_every_seconds: 180
    snapshot_after_units: 25
    
  batch_queue:
    snapshot_every_seconds: 600
    snapshot_after_units: 100
    
  llm_intensive:
    alert_at_percent: 70
